<!DOCTYPE html>
<html lang="en">

<head>
    <title>Exam Schedule Builder</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/index.css" rel="stylesheet">
 
</head>
 
<body>


    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSchedule">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Exam Scheduler</h3>
        </div>
 
        <div class="jumbotron">
            <h1>OH SHIT EXAMS</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="http://www.remysberkeley.com/" role="button">Who down for taco tuesday</a>
            </p>
        </div>

        <div>
            Note: If a class is offered on M, W, F, MW, MF, or WF it will fall into the same start times as MWF. If a class is offered on Tu or Th, it will fall into the same start times as TuTh.
        </div>

<!--         <script type="text/javascript">
            function addTextBox() {
            var element = document.createElement("input");
            var divy = document.getElementById("foradding");

            element.setAttribute("type", "text");
            element.setAttribute("value", "");
            element.setAttribute("name", "Test Name");
            // document.body.appendChild(element);
            divy.appendChild(element);
            }
        </script> -->

        <script type="text/javascript">

            var counter = 0;

            function addTextBox() {
            counter += 1;

            var insert_loc = document.getElementById("foradding");

            var element = document.createElement("input");
            // var element2 = document.createElement("select");

            // theOption=document.createElement("OPTION");
            // theText=document.createTextNode("Revenue");
            // theOption.setAttribute("value","Revenue");
            // theOption.appendChild(theText);
            // element2.appendChild(theOption);

            
            // // ADD A COUNTER FOR NAMING THE BOXES!!!!! 
            // OR have them pre-added, and unhide as required.

            element.setAttribute("type", "text");
            element.setAttribute("value", "");
            element.setAttribute("name", "ClassName"+counter);
            element.setAttribute("placeholder", "Class name");
            element.setAttribute("class", "formbox");

            // element2.setAttribute("name", "Day");
            // element2.setAttribute("option value", "11");
            // element3.setAttribute("value", "rrr");

            insert_loc.appendChild(element);
            // insert_loc.appendChild(element2);

            var day_text_vals = ["--","MWF","MTWTF","TuTh", "Foreign Languages", "Econ 1, 100B", "Chem 1A, 1B, 3A, 3B, 4A & 4B"];
            var time_vals = ["--", "8", "8:30", "9", "9:30", "10", "10:30", "11", "11:30", "Noon", "12:30", "1", "1:30", "2", "2:30", "3", "3:30", "4", "4:30", "5"];
            var time_text = ["--", "8:00am", "8:30am", "9:00am", "9:30am", "10:00am", "10:30am", "11:00am", "11:30am", "12:00pm", "12:30pm", "1:00pm", "1:30pm", "2:00pm", "2:30pm", "3:00pm", "3:30pm", "4:00pm", "4:30pm", "5:00pm and after"];

            //Create and append select list
            var selectList_days = document.createElement("select");
            // selectList_days.id = "mySelect_days";
            selectList_days.setAttribute("name", "Day"+counter);
            selectList_days.setAttribute("class", "formbox");
            insert_loc.appendChild(selectList_days);

            var selectList_times = document.createElement("select");
            // selectList_times.id = "mySelect_times";
            selectList_times.setAttribute("name", "Time"+counter);
            selectList_times.setAttribute("class", "formbox");
            insert_loc.appendChild(selectList_times);

            //Create and append the options
            for (var i = 0; i < day_text_vals.length; i++) {
                var option = document.createElement("option");
                option.value = day_text_vals[i];
                option.text = day_text_vals[i];
                selectList_days.appendChild(option);
                }

            for (var i = 0; i < time_vals.length; i++) {
                var option = document.createElement("option");
                option.value = time_vals[i];
                option.text = time_text[i];
                // option.text = counter;
                selectList_times.appendChild(option);
                }


            } 
        </script>


        <br>

        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
 
        <form action="showSchedule" method="POST">
        <div id="foradding">
            Put class name, select day, and select time:
            <br>
            <input class="formbox" type="text" name="ClassName0" value="Class Name">
            <select class="formbox" name="Day0">
                <option value="--">--</option>
                <option value="MWF">MWF</option>
                <option value="MTWTF">MTWTF</option>
                <option value="TuTh">TuTh</option>
                <option value="Foreign Languages">Foreign Languages</option>
                <option value="Econ 1, 100B">Econ 1, 100B</option>
                <option value="Chem 1A, 1B, 3A, 3B, 4A & 4B">Chem 1A, 1B, 3A, 3B, 4A & 4B</option>
            </select>
            <select class="formbox" name="Time0">
                <option value="--">--</option>
                <option value="8">8:00am</option>
                <option value="8:30">8:30am</option>
                <option value="9">9:00am</option>
                <option value="9:30">9:30am</option>
                <option value="10">10:00am</option>
                <option value="10:30">10:30am</option>
                <option value="11">11:00am</option>
                <option value="11:30">11:30am</option>
                <option value="Noon">12:00pm</option>
                <option value="12:30">12:30pm</option>
                <option value="1">1:00pm</option>
                <option value="1:30">1:30pm</option>
                <option value="2">2:00pm</option>
                <option value="2:30">2:30pm</option>
                <option value="3">3:00pm</option>
                <option value="3:30">3:30pm</option>
                <option value="4">4:00pm</option>
                <option value="4:30">4:30pm</option>
                <option value="5">5:00pm and after</option>
            </select>
            </div>
            <input type="button" value="add stuff" class="addbox" onclick="addTextBox()">

            <br>
            <input type="submit" href="/showSchedule" name="my-form" value="Submit!" class="btn btn-lg btn-success"/>
        </form> 

        <br>
        <br>

        For the official exam timetable, please refer to:
        <a href="http://registrar.berkeley.edu/sis-SC-message">
            SIS Exam Schedule List
        </a>


        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Oh damn</h4>
                <p>#weontherise #onlywayisup</p>
 
 
            </div>
 
            <div class="col-lg-6">
                <h4>Cal is lit</h4>
                <p>Also check out SCETSA.</p>
 

            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Ali Ahmed, Daryus Medora; 2017</p>
        </footer>
 
    </div>
</body>
 
</html>